body {
  background-color: rgba(220, 185, 165, 0.829);
}

h1 {
  font-size: 36px;
  text-align: left;
  padding-left: 10px;
  float: left;
}
h2 {
  padding: 30px;
  color: blueviolet;
}
h3 {
  text-align: right;
  padding-right: 10px;
  float: none;
}
header {
  float: left;
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(105, 105, 186);
}
h4 {
  font-size: 40px;
  padding-top: 100px;
  padding-bottom: 185px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
li {
  padding-top: 5px;
}
footer {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}
